<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">City</th>
                <th scope="col">Pincode</th>
            </tr>
        </thead>
        <tbody>
            <br>
            <tr *ngFor="let data of parentData; index as i">
                <div *ngIf="i!=0; then firstBlock; else emptyBlock"></div>
                <ng-template #firstBlock>
                    <th scope="row">{{i}}</th>
                    <td>{{data.name}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.phoneNum}}</td>
                    <td>{{data.city}}</td>
                    <td>{{data.pincode}}</td>
                    <button class="btn btn-success" (click)="onUpdate(i)">
                        Update Data
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger" (click)="onDelete(i)">
                        Delete
                    </button>
                </ng-template>
                <ng-template #emptyBlock></ng-template>
            </tr>
        </tbody>
    </table>
    <br>
</div>