<div class="container"><br>
    <form #userForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-6">
                <label>First Name</label>
                <input type="text" #userFName="ngModel" [class.is-invalid]="userFName.invalid && userFName.touched"
                    class="form-control" [(ngModel)]="userModel.fname" name="fname" required>
                <small class="text-danger" [class.d-none]="userFName.valid || userFName.untouched">Name is Required
                    !!!</small>
            </div>
            <div class="form-group col-md-6">
                <label>Last Name</label>
                <input type="text" #userLName="ngModel" [class.is-invalid]="userLName.invalid && userLName.touched"
                    class="form-control" [(ngModel)]="userModel.lname" name="lname" required>
                <small class="text-danger" [class.d-none]="userLName.valid || userLName.untouched">Name is Required
                    !!!</small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label>Birth Date</label>
                <input type="date" #userBDate="ngModel" [class.is-invalid]="userBDate.invalid && userBDate.touched"
                    class="form-control" [(ngModel)]="userModel.bdate" name="bdate" required>
                <small class="text-danger" [class.d-none]="userBDate.valid || userBDate.untouched">Birth Date is
                    Required!!!</small>
            </div>

            <div class="form-group col-md-6">
                <label>Phone number</label>
                <input appCustomMobileNumber type="text" #userPhoneNum="ngModel" pattern="^\d{10}$" class="form-control"
                    [(ngModel)]="userModel.phoneNum" name="phoneNum" required>
                <small class="text-danger" [class.d-none]="userPhoneNum.valid || userPhoneNum.untouched">Proper phone number is
                    Required !!!</small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label" for="Country">Country:</label>
                <select *ngIf="countries" class="form-control" [(ngModel)]="userModel.selectedCountry" (change)="onSelectCountry($event.target.value)"
                    name="selectedCountry" required>
                    <option value="default">Select State</option>
                    <option *ngFor="let country of countries" value={{country.id}}>{{country.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label" for="States">States:</label>
                <select *ngIf="states" [(ngModel)]="userModel.selectedState" (change)="onSelectState($event.target.value)"
                    class="form-control" name="selectedState" required>
                    <option value="default">Select State</option>
                    <option *ngFor="let state of states" value={{state.id}}>{{state.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label" for="City">City:</label>
                <select class="form-control" [(ngModel)]="userModel.selectedCity" name="selectedCity" required>
                    <option *ngIf="!selectedState" value="default">Select City</option>
                    <option *ngFor="let city of cities" value={{city.id}}>{{city.name}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" #userEmail="ngModel" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" [class.is-invalid]="userEmail.invalid && userEmail.touched"
                    class="form-control" [(ngModel)]="userModel.email" name="email" required>
                <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched">Email is
                    Required !!!</small>
            </div>

            <div class="form-group col-md-6">
                <label>Pincode</label>
                <input type="number" #userPincode="ngModel" pattern="^\d{6}$" [class.is-invalid]="userPincode.invalid && userPincode.touched"
                    class="form-control" [(ngModel)]="userModel.pincode" name="pincode" required>
                <small class="text-danger" [class.d-none]="userPincode.valid || userPincode.untouched">Pincode is
                    Required !!!</small>
            </div>
        </div>

        <button [disabled]="userForm.form.invalid" class="btn btn-success" type="submit">Submit Data</button>
    </form>
</div>
<br>