<div class="container mb-6"><br>
    <form #userForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(userForm)" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input type="text" #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched" class="form-control"
                [(ngModel)]="userModel.name" name="name" required>
            <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Name is Required !!!</small>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" #userEmail="ngModel" [class.is-invalid]="userEmail.invalid && userEmail.touched" class="form-control"
                [(ngModel)]="userModel.email" name="email" required>
            <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched">Email is Required!!!</small>
        </div>

        <div class="form-group">
            <label>Phone number</label>
            <input type="number" #userPhoneNum="ngModel" pattern="^\d{10}$" [class.is-invalid]="userPhoneNum.invalid && userPhoneNum.touched"
                class="form-control" [(ngModel)]="userModel.phoneNum" name="phoneNum">
            <small class="text-danger" [class.d-none]="userPhoneNum.valid || userPhoneNum.untouched">Phone Number is
                Required
                !!!</small>
        </div>

        <div class="form-group">
            <label>City</label>
            <input type="text" #userCity="ngModel" [class.is-invalid]="userCity.invalid && userCity.touched" class="form-control"
                [(ngModel)]="userModel.city" name="city" required>
            <small class="text-danger" [class.d-none]="userCity.valid || userCity.untouched">City is Required !!!</small>
        </div>

        <div class="form-group">
            <label>Pincode</label>
            <input type="number" #userPincode="ngModel" pattern="^\d{6}$" [class.is-invalid]="userPincode.invalid && userPincode.touched"
                class="form-control" [(ngModel)]="userModel.pincode" name="pincode">
            <small class="text-danger" [class.d-none]="userPincode.valid || userPincode.untouched">Pincode is Required
                !!!</small>
        </div>

        <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit Data</button>
    </form>
</div>
<br>